h1 {
    color: rgb(19, 17, 17);
    font-size: 28px;
    font-style: normal;
}

.logotype {
    vertical-align: middle;
}


body {

    background-image: url(./img/diamond_upholstery.png);
    width: 900px;
}

h2 {
    color: rgb(19, 17, 17);
}

#paragraph {
    color: rgb(19, 17, 17);
    font-family: serif;
    font-size: 15px;
    text-align: center;
    width: 50%;
}

h3 {
    color: rgb(19, 17, 17);
    font-style: italic;
}

h4 {
    color: rgb(49, 49, 201);
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    font-size: 25px;
    color:rgba(5, 1, 1, 0.753)


}

#hd {
    color: rgb(19, 17, 17);
    font-size: 24px;
    display:flex;
    width: 1050px;
    
}

#table-meny {
    color: rgb(19, 17, 17);
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
    
nav {
    
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



a {
    color: rgba(43, 22, 22, 0.932);
}

a:hover {
    color: rgb(236, 86, 16);
}

#sidbar {

    display: flex;
    justify-content: space-between;
    width: 160px;
}

#map {
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.644);
}

.annonsbilder {
    width: 400px;
    height: 250px;
}


#saletable {
    padding: 10px;
    width: 800px;
}


th {
    padding: 20px;
    border-width: 1px;
    
}

td {
    vertical-align: top;
    padding: 20px;
    border-width: 1px;
    border-right-style: solid;
    
}




table, th, td {
    
    border-bottom-style: solid;
    border-collapse: collapse;
    
}

#objectpic {
    width: 500px;
    height: 350px;
}

#welcometext {

    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;

}


#marketlist {

    


}


li {

    display: flex;
    padding: 10px;
    margin: 10px;
    border: 10px;

}

h6 {

    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom:10px;
    width:800px;
    justify-content: right;
}